<div class="articles">
    <div ng-show="$ctrl.ArticlesService.populating">
        <h1>Loading, please have a coffee...</h1>
    </div>
    <div ng-hide="$ctrl.ArticlesService.populating">
        <h2>
            {{$ctrl.count() == 0 ? "Sorry, nothing to see here, move along." : $ctrl.count() + " articles" }} 
        </h2>
        <news-app-article 
            article="article"
            ng-repeat="article in $ctrl.ArticlesService.items">
        </news-app-article>
    </div>
</div>
