<div class="article">
    <div class="title">
        {{$ctrl.article.title}}
    </div>
    <div class="content" ng-hide="$ctrl.article.full">
        {{$ctrl.article.intro}}
    </div>
    <div class="content" ng-show="$ctrl.article.full">
        {{$ctrl.article.content}}
    </div>
    <div class="buttons">
        <a class="btn btn-default" ng-click="$ctrl.article.full = !$ctrl.article.full">
            More ...
        </a>
        <a class="btn btn-warning" ng-click="$ctrl.delete()">
            Delete
        </a>
    </div>
</div>
