.navbar-right {
    height: 50px;
    line-height: 50px;
}

.view {
    margin-top: 70px;
}

.article {
    margin-bottom: 16px;
}

.article .title {
    font-size: 18pt;
}

.article .content {
    color: #080808;
    margin-bottom: 8px;
}

.login {
    width: 400px;
}

.login div {
    padding: 8px;
}